<h1 class="mb-4">お客様専用ダッシュボード</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">エムエフ販売 カタログ価格表</h5>
          <%= link_to "詳細", customer_price_lists_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>  
