<%= form_with(model: [@product, @product_supplier], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :supplier_ids, "仕入先" %>
    <%= form.collection_select :supplier_ids, Supplier.all, :id, :name, { selected: @product.supplier_ids }, { multiple: true, id: 'supplier-select', class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.js-select2').select2();
  });
</script>
