<h1>社員情報更新</h1>

<nav class="nav justify-content-end">
  <%= link_to "一覧", admin_users_path, class: "nav-link" %>
</nav>
<table class="tabel">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
  </thead>
</table>
